[package]
name = "app"
version.workspace = true
description = "A Tauri App"
authors = ["you"]
license = ""
repository = ""
default-run = "app"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[lib]
name = "lib"
path = "lib/src/lib.rs"
crate-type = ["lib", "staticlib", "cdylib"]

[build-dependencies]
tauri-build = { version = "2", features = [] }

[dependencies]
divi = {path = "../../../crates/divi"}
googlesheets = {path = "../../../crates/googlesheets"}
ninja = {path = "../../../crates/ninja"}

tauri = { version = "2.5.0", features = [] }
[target.'cfg(not(any(target_os = "android", target_os = "ios")))'.dependencies]
tauri-plugin-updater = "2"
tauri-plugin-process = "2"

tokio = {version = "1", features = ["full"] }
tracing.workspace = true
tracing-subscriber.workspace = true
reqwest.workspace = true
serde.workspace = true
serde_json.workspace = true

axum = { version = "0.8", features = [] }
oauth2 = "5"
keyring = "2"
open = "5"
async-trait = "0.1.77"
url = "2.5.0"
chrono = { version = "0.4.31", features = ["serde"] }

[features]
# by default Tauri runs in production mode
# when `tauri dev` runs it is executed with `cargo run --no-default-features` if `devPath` is an URL
default = ["custom-protocol"]
# this feature is used for production builds where `devPath` points to the filesystem
# DO NOT remove this
custom-protocol = ["tauri/custom-protocol"]
