name: 'publish'

on:
    workflow_dispatch:
    push:
        branches:
            - release

jobs:
    publish-tauri:
        permissions:
            contents: write
        runs-on: macos-latest
        steps:
            - uses: actions/checkout@v4

            - name: Install pnpm
              run: npm install -g pnpm

            - name: setup node
              uses: actions/setup-node@v4
              with:
                  node-version: latest
                  cache: 'pnpm' # Set this to npm, yarn or pnpm.

            - name: install Rust stable
              uses: dtolnay/rust-toolchain@stable # Set this to dtolnay/rust-toolchain@nightly
              with:
                  targets: aarch64-apple-darwin

            - name: Rust cache
              uses: swatinem/rust-cache@v2

            - name: install frontend dependencies
              # If you don't have `beforeBuildCommand` configured you may want to build your frontend here too.
              run: pnpm install --frozen-lockfile # change this to npm or pnpm depending on which one you use.

            - uses: tauri-apps/tauri-action@v0
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                  tagName: v__VERSION__ # the action automatically replaces \_\_VERSION\_\_ with the app version
                  releaseName: 'v__VERSION__'
                  releaseBody: 'See the assets to download this version and install.'
                  releaseDraft: true
                  prerelease: false
                  args: --target aarch64-apple-darwin
